
html {
  font-family: Helvetica, Verdana, Arial, sans-serif;
}
.wrapper {
  width: 700px;
  margin: 10px auto;
}
header {
  height: 100px;
  position: relative;
}
.userarea {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  text-align: right;
}
nav .elem {
  display: block;
  float: left;
  padding: 5px;
  background: grey;
  position: relative;
}
nav .elem a[data-id] {
  padding-left: 20px;
}
nav .elem a.close {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: red;
  text-indent: -999px;
  top: 10px;
  left: 10px;
}
.content {
  margin-top: 20px;
}
.game-container {
  width: 700px;
  height: 650px;
}
.canvas {
  position: relative;
}
.coin {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin: 5px;
}
.coin.player-1 {
  background: blue;
}
.coin.player-0 {
  background: green;
}
.status  {
  line-height: 50px;
  text-align: center;
}
.clear {
  clear: both;
}